#navbar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 0;
	margin-bottom: 0;
  position: absolute;
	background-color: #faa61a;
}

.btn {
    background-color: #faa61a;
}

.navbar-brand {
	position: static;
	margin-left: 100px;
	padding: 5px 20px 5px; /* Increase vertical padding to match navbar links */
	font-size: 26px;
	font-family: 'Playfair Display', serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

#navbarNavAltMarkup {
	position: absolute;
	margin-left: 21cm;
	font-size: 20px;
	color: white !important;
	font-family: 'Lora', serif;
}

.carousel-item {
	height: 550px;
}

.carousel-inner {
    margin-top: 65px;
}

.carousel img {
	box-shadow: 0px 13px 31px -26px #7d7380;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 550px;
}

.carousel-control-prev:hover {
    transform: scale(2);
}

.carousel-control-next:hover {
    transform: scale(2);
}

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.arrow-top {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #faa61a;
    bottom: 30px;
    right: 60px;
    z-index: 1000;
    cursor: pointer;
    text-align: center;
    padding-top: 11px;
		position: fixed;
		opacity: .5;
		display: none;
}

.arrow-top:hover,
.arrow-top:focus {
	opacity: 1;
	filter: brightness(1.2);
	outline: none;
}

.cinema-block {
    margin-top: 76px;
}

#cinema-card {
    margin-top: 76px;
}

.main {
	padding-bottom: 35px;
}

.jumbotron {
	background-color: white !important;
	padding: 2em !important;
	margin-bottom: 0px !important;
}

.slides {
	margin: 0 -15px;
}

#aftjum {
 margin-top: 10px !important;
}

.image-home-name {
	text-align: center;
}

.images__home img {
	margin-bottom: 15px;
}
