#navbar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 0;
	margin-bottom: 0;
    position: absolute;
	background-color: #faa61a;
}

.btn {
    background-color: #faa61a;
}

.navbar-brand {
	margin-left: 5cm;
	padding: 5px 20px 5px; /* Increase vertical padding to match navbar links */
	font-size: 18px;
	font: 18px bold sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

#navbarNavAltMarkup {
	position: absolute;
	margin-left:25cm;
	font: 18px bold sans-serif;
}

.carousel-item {
	height: 550px;
}

.carousel-inner {
    margin-top: 0px;
}

.carousel img {
	box-shadow: 0px 13px 31px -26px #7d7380;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 550px;
}

.carousel-control-prev:hover {
    transform: scale(2);
}

.carousel-control-next:hover {
    transform: scale(2);
}

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.arrow-top {
    height: 50px;
    width: 50px;
    border-radius: 2px;
    background: #faa61a center no-repeat;
    bottom: 30px;
    right: 120px;
    z-index: 100;
    cursor: pointer;
    text-align: center;
    padding-top: 11px;
}

.cinema-block {
    margin-top: 76px;
}
