{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ block.super }} - Cinemas Page
{% endblock %}

{% block content %}
<div class="cinema-block">
    <div class="card mb-4 border-success">
    <h3 class="card-header">
        Cinema city
    </h3>
    <div class="card-body">
        <h5 class="card-title">Все фильмы </h5>
        <p class="card-text">Просмотр всех фильмов которые идут сегодня</p>
        <a href="{% url 'cinema_city_url' %}" class="btn btn-primary">Read</a>
    </div>
    </div>

    <div class="card mb-4 border-success">
    <h3 class="card-header">
        Планета кино
    </h3>
    <div class="card-body">
        <h5 class="card-title">Все фильмы </h5>
        <p class="card-text">Просмотр всех фильмов которые идут сегодня</p>
        <a href="" class="btn btn-primary">Read</a>
    </div>
    </div>

    <div class="card mb-4 border-success">
    <h3 class="card-header">
        Multiplex
    </h3>
    <div class="card-body">
        <h5 class="card-title">Все фильмы </h5>
        <p class="card-text">Просмотр всех фильмов которые идут сегодня</p>
        <a href="" class="btn btn-primary">Read</a>
    </div>
    </div>
</div>
{% endblock %}